@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    margin: 0;
    padding: 0;
  }
  .container{
    @apply w-[85vw] xl:w-[95vw] m-auto;
  }
   /* poupState */
   .showpopup {
    opacity: 1;
    visibility: visible;
    transform: skewY(0deg) translateY(10px);
  }
  .noshowpopup {
    opacity: 0;
    visibility: hidden;
    transform: skewY(3deg) translateY(-30px); 
  }

    
  .nav-default {
    @apply flex items-center justify-center fixed top-8 lg:top-5 left-0 right-0 transition-all duration-300;
  }
  .nav-sticky{
    @apply bg-white/80 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 flex items-center h-[9vh] fixed top-0 left-0 right-0 opacity-100 z-[100] shadow-sm shadow-slate-100;
  }
}


